
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(22, 22, 57);
    font-family: Arial, sans-serif;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white; 
    padding-left: 50px;
    border-bottom: 2px solid rgb(34, 69, 84) ;
}
.navbar .logo{
    color: white;
    font-size: 25px;
    text-decoration: none;
    
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 14px 20px; 
    text-align: center;
    font-size: 18px; 
}
.navbar a:hover{
    color: rgb(114, 196, 240)
}
.navbar .nav-links{
    display: flex;
}

.skills{
    padding: 40px;
    text-align: center;
}
.skill-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    color: #a8fc8a;
}
h2{
    font-size: 2rem;
    color: #e2d0d0;
    margin-bottom: 20px;
}

.skill-cotegory{
    margin: 20px 0;
}
.skill-cotegory, h3{
    color: #d2b6b6;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.skill-item span{
    font-size: 1rem;
    flex-basis: 20%;
}
.progress-bar{
    background-color: rgb(223, 221, 221);
    border-radius: 10px;
    width: 70%;
    height: 10px;
    overflow: hidden;
}
.progress{
    height: 100%;
    background-color: rgb(86, 255, 255);
    border-radius: 5px;
}

  /* footer */


.foot-panel2{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 200px;
    background-color: rgb(44, 38, 38);
    width: 100%;
    padding-top: 10px;
}
.foot-panel3{
    width: 100%;
    height: 350px;
    background-color: rgb(44, 38, 38);
    margin: 0;
    padding: 0;
    
}
.box2{
    margin-top: 3rem;
}
ul a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 16px;
    font-weight: lighter;
}
@media (max-width: 600px){
    .navbar a{
        padding: 7px;
    }
    .navbar .logo{
        font-size: 20px;
    }
}